<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <!-- PORTLET MAIN -->
        <div class="portlet light">

            <form name="formRegister" class="register-form" style="display: block;">
                <h3>Registro</h3>

                <div class="alert alert-danger" ng-show="incorrectRegister">
                    <span> Lo sentimos en este momento no podemos procesar tu solicitud. </span>
                </div>

                <p> Ingrese su información personal a continuación: </p>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Nombre Completo</label>
                    <div class="input-icon">
                        <i class="fa fa-font"></i>
                        <input class="form-control placeholder-no-fix" type="text" placeholder="Nombre Completo" id="inputName" name="inputName" ng-model="user.name" ng-required="true" autofocus>
                        <span class="help-inline text-danger" ng-show="formRegister.inputName.$invalid && formRegister.inputName.$touched">El campo nombre es requerido.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Email</label>
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="email" id="inputEmail" name="inputEmail" placeholder="Email" ng-model="user.email" ng-required="true">
<span class="help-inline text-danger" ng-show="formRegister.inputEmail.$invalid && formRegister.inputEmail.$touched">Debes ingresar un email valido.</span>
<span ng-show="incorrectEmail" class="help-inline text-danger">Lo sentimos el email ya esta registrado.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="inputPass" name="inputPass" placeholder="Contraseña" ng-model="user.pass" ng-required="true">
                        <span class="help-inline text-danger" ng-show="formRegister.inputPass.$invalid && formRegister.inputPass.$touched">El campo contraseña es requerido.</span>
                    </div>
                </div>


                <div class="form-actions">
                    <button type="button" class="btn grey-salsa btn-outline" onclick="window.location.href='#/login'"> Regresar </button>
                    <button type="submit" class="btn green pull-right" ng-click="register()" ng-disabled="formRegister.$invalid"> Registrarse </button>
                </div>
            </form>
        </div>
    </div>
</div>
