@media screen and (min-height: 480px) {
    .map
    {
        height: 450px;
        box-shadow: black 0px 3px 25px;

    }
}

@media screen and (min-height: 768px) {
    .map
    {
        height: 800px;
        box-shadow: black 0px 3px 25px;

    }
}
@media screen and (min-height: 1080px) {
    .map
    {
        height: 800px;
        box-shadow: black 0px 3px 25px;

    }
}



div.map_container {
    position: absolute;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

div.controls {
    float: right;
    width: 30%;
}

.markerlabel {
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #333;
    padding: 2px;
    background: #fff;
    color: #333;
}
