<div>

    <div class="row">
        <div class="col-md-5">
            <form name="formLogin" class="form-horizontal" novalidate="">

                <div class="form-group error">
                    <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control has-error" id="inputEmail" name="inputEmail" placeholder="Email" ng-model="email" ng-required="true">
                        <span class="help-inline" ng-show="formLogin.inputEmail.$invalid && formLogin.inputEmail.$touched">Email field is required</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPass" class="col-sm-3 control-label">Pass</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPass" name="inputPass" placeholder="Password" ng-model="pass" ng-required="true">
                        <span class="help-inline" ng-show="formLogin.inputPass.$invalid && formLogin.inputPass.$touched">Password field is required</span>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="btn-save" ng-click="login()" ng-disabled="formLogin.$invalid">Login</button>

            </form>
            <button type="button" class="btn btn-primary" id="btn-save" ng-click="register()">Registrar</button>
        </div>
    </div>
</div>
